{# src/MarvelBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1 ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Exercice Marvel API{% endblock %}</title>

    {% block stylesheets %}
      {% stylesheets '@MarvelCoreBundle/Resources/assets/css/lib/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
      {% stylesheets '@MarvelCoreBundle/Resources/assets/css/styles/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
    {% endblock %}
    
  </head>
  <body>
    <div class="container">

        {% block body %}

            <h3>Presentation of some Marvel comics' characters</h3>  

        {% endblock %}

        {% block footer %}

            <hr>

            
            {% block javascripts %}
                {% javascripts '@MarvelCoreBundle/Resources/assets/js/lib/jquery-3.2.1.min.js'
                               '@MarvelCoreBundle/Resources/assets/js/lib/bootstrap.js'
                               '@MarvelCoreBundle/Resources/assets/js/lib/jquery.tablesorter.min.js'
                               '@MarvelCoreBundle/Resources/assets/js/lib/jquery.tablesorter.pager.min.js'
                               '@MarvelCoreBundle/Resources/assets/js/lib/widget-filter.js'
                               '@MarvelCoreBundle/Resources/assets/js/lib/widget-uitheme.js'
                               '@MarvelCoreBundle/Resources/assets/js/lib/bootstrap-select.min.js'
                            
                               '@MarvelCoreBundle/Resources/assets/js/scripts/characters.js'
                               '@MarvelCoreBundle/Resources/assets/js/scripts/animations.js'%}
                     <script src='{{ asset_url }}' type='text/javascript'></script>
                {% endjavascripts %}
            {% endblock %}  

        {% endblock %}

    </div>
  </body>
</html>
